header {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}
@media screen and (max-width: 400px){
	header{
		justify-content: flex-start;
	}
}
header img{
	width:150px;
}
header img:last-child{
	width:100%;
	border: 1px solid black;
}

/*Seção PARCEIROS*/
#parceiros{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
}
#parceiros img{
	width:20%;
	margin:5%;
	min-width: 150px;
}
#parceiros h2{
	width:100%;
	color: #68432f;
	margin-left:5%;
}